.articleList{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 25px;
    // margin-top: 40px;
    margin-bottom: 80px;
    h2{
        width: 100%;
        margin-left:5vw;
        font-size: 30px;
    }
}

.searcheError{
    width: auto;
    display: flex;
    justify-content: center;
    padding: 80px;
    color: #ac0022;
    font-size: 30px;
}