@import './home_responsive.scss';

h1{
    margin: 40px;
    font-size: 40px;
}
.searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:50px;
    margin-left: 40px;
    width: 300px;
    height: 50px;
    border: solid black 2px;
    border-radius: 30px;
    input{
        font-size: 19px;
        border: 0;
        &:focus-visible{
            outline: 0;
        }
    }
    .loupe{
        height: 30px;
    }
}
