.articleCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 20%;
    color: black;
    text-decoration: none;
    padding: 20px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.3s;
    &:hover{
        background-color: rgb(239, 239, 239);
    }
    img{
        align-self: center;
        width: 100%;
    }
    h3{
        font-weight: bold;
        text-align: center;
        font-size: 20px;
    }
    .publishDate{
        font-weight: bold;
        align-self: center;
    }
    .author{
        color: black;
        text-decoration: none;
    }
}